*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.conteiner{
    max-width: 1680px;
    width: 100%;
    margin: auto;
}
.grid-main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    'aside header'
    'aside section'
    'article article'
    'footer footer';
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: section;
}
.item3{
    grid-area: aside;
}
.item4{
    grid-area: article;
}
.item5{
    grid-area: footer;
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-search  {
    display: flex;
    background-color: #F8F8F8;
    margin-top: 2%;
    max-width: 446px;
    width: 100%;
}
.header-infut{
    border: none;
    padding: 8px 30px;
    background-color: #F8F8F8;
    
    
}
.header-gopro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    margin-left: 10px;
}

.header-gopro-gopro{
    font-size: 14px;
    color: #FF2288;
    font-family: 'Avenir LT Std';
    padding: 10px;
}
.header-img{
    position: relative;
    padding: 10px;
}
.gopro-img{
    max-width: 24px;
    width: 100%;
    
    
}
.point{
    background-color: #FF2288;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 12px;

    
}
.gopro-img-men{
    max-width: 56px;
    width: 100%;
    

}

.gopro-button{
    background-color: #FF2288;
    max-width: 129px;
    
    height: 56px;
    border-radius: 12px;
    cursor: pointer;
    padding: 20px;
    margin-left: 10px;
}
.navbar-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    max-width: 1231px;
    width: 100%;
    
}
.navbar-ul{
    display: flex;
    align-items: center;
}
.navbar-a{
    color: #222222;
    font-size: 16px;
    font-family: 'Avenir LT Std';
    padding: 15px;
}
.navbar-all{
    background-color:#F2F2F2 ;
    border-radius: 12px;
    padding: 10px;
}
.navbar-img{
    background-color: #D8D8D8;
    padding: 1%;
    border-radius: 12px;
    
}
.navbar-img-img{
    width: 18px;
    cursor: pointer;
}
.navbar-img-span{
    font-size: 16px;
    font-family: 'Avenir LT Std';
    color: #222222;

}
.item3{
    background-color: #222222;
    max-width: 319px;
    width: 100%;
    
}
.aside-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.design-img{
    max-width: 146px;
    width: 100%;
}
.design-button{
    max-width: 26px;
    width: 100%;
    
}
/* ar daaaaaanitavrebuaaaaaaaaaaaaa aside */
.aside-nav-img{
    max-width: 24px;
    width: 100%;
    
}
.aside-nav-a{
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 15px;
    
}
.aside-navbar-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside-back{
    background-color: #FF2288;
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border-radius: 12px;
}
.aside-navbar-li{
    display: flex;
    align-items: center;
    padding-top: 51px;
    
}
.aside-FOLLOWING{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    
}
.aside-h{
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Avenir LT Std';
    font-variant: small-caps;
    padding-bottom: 30px;
}
.aside-follo-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.aside-img-inf{
    max-width:44px ;
    width: 100%;
    
}
.aside-navul{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding-bottom: 15px;
}
.aside-navli{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
}
.aside-img-name{
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 21px;
}
.aside-load-a{
    color: #FFFFFF;
    font-size: 14px;
}
/* section img */
.item2{
    
    flex-direction: column;
    align-items: center;
}
.sect-img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.img-1{
    max-width: 289px;
    width: 100%;
    height: 210px;
    object-fit: cover;   
}


.hover-img{
    position: absolute;
    display: none;
}
.hover-img{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 10%;
    left: 8%;
    display: none;
}
.sect-img-p{
    color: #222222;
    
    text-align: center;
}
/* .hover-smal-img:hover{
    border-color: green;
} */
.sect-all-img{
    display: flex;
    flex-wrap: wrap;
}
.sect-main-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-more-button{
    background-color: #F2F2F2;
    max-width: 289px;
    width: 100%;
    border-radius: 12px;
    padding: 16px 108px;
    margin-top: 70px;
    margin-bottom: 70px;
}

/* article style */
.item4{
    background-color: #FAFAFA;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.follow-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.follow-h{
    color: #222222;
    font-size: 32px;
    font-weight: heavy;
    width: 100%;
    font-family: 'Avenir LT Std';
    margin-bottom: 54px;
}
.follow-view{
    color: #222222;
    font-size: 14px;
    opacity: 30%;
}
.follow-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follow-img{
    max-width: 132px;
    width: 100%;
    
    
}
.follow-img-h{
    font-size: 16px;
    font-family: 'Avenir LT Std';
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;    
}
.follow-p{
    font-size: 12px;
    opacity: 60%;
    margin-bottom: 18px;
}
.follow-a{
    background-color: #F2F2F2;
    padding: 12px 36px;
    margin-top: 10px;
}
/* footer style */
.item5{
    margin-top: 70px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.foot-h{
    font-size: 16px;
    padding-bottom: 36px;
}
.foot-main{
    display: flex;
}
.foot-a{
    display: flex;
    flex-direction: column;
}
.footer-a{
    color: #222222;
    padding: 5px;
}
.foot-select1{
    margin: 20px;
}
.foot-small-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-foto{
    display: flex;
}
